#pic{
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

#aboutus{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(18, 24, 58);
    text-align: center;
    font-size: 18px;
}